RewriteEngine On
RewriteBase /advancia/

RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteCond %{REQUEST_URI} !(\.png|\.css|\.js|\.jpg|\.jpeg|\.ico|\.ttf|\.woff|\.txt|\.gif|\.pdf)$ [NC]

RewriteRule ^ - [L]

#RewriteRule ^(.*)$ index.php/$1 [L]
RewriteRule !(\.png|\.css|\.js|\.jpg|\.jpeg|\.ico|\.ttf|\.woff|\.txt|\.gif|\.pdf)$ index.php/$1 [L]
#RewriteRule ^\\?(.*) index.php/$1 [L]

#ErrorDocument 404 /errors/404.html
#ErrorDocument 403 /errors/403.html
#ErrorDocument 500 /errors/500.html