body.billie_holiday{
background: url('../images/patterns/billie_holiday.png') repeat !important;
}

body.black_thread{
background: url('../images/patterns/black_thread.png') repeat !important;
}

body.blackorchid{
background: url('../images/patterns/blackorchid.png') repeat !important;
}

body.broken_noise{
background: url('../images/patterns/broken_noise.png') repeat !important;
}

body.carbon_fibre_big{
background: url('../images/patterns/carbon_fibre_big.png') repeat !important;
}

body.checkered_pattern{
background: url('../images/patterns/checkered_pattern.png') repeat !important;
}

body.classy_fabric{
background: url('../images/patterns/classy_fabric.png') repeat !important;
}

body.dark_wood{
background: url('../images/patterns/dark_wood.png') repeat !important;
}

body.darkdenim3{
background: url('../images/patterns/darkdenim3.png') repeat !important;
}

body.denim{
background: url('../images/patterns/denim.png') repeat !important;
}

body.diagmonds{
background: url('../images/patterns/diagmonds.png') repeat !important;
}

body.dvsup{
background: url('../images/patterns/dvsup.png') repeat !important;
}

body.fabric_plaid{
background: url('../images/patterns/fabric_plaid.png') repeat !important;
}

body.fake_brick{
background: url('../images/patterns/fake_brick.png') repeat !important;
}

body.grilled{
background: url('../images/patterns/grilled.png') repeat !important;
}

body.groovepaper{
background: url('../images/patterns/groovepaper.png') repeat !important;
}

body.hixs_pattern_evolution{
background: url('../images/patterns/hixs_pattern_evolution.png') repeat !important;
}

body.irongrip{
background: url('../images/patterns/irongrip.png') repeat !important;
}

body.nami{
background: url('../images/patterns/nami.png') repeat !important;
}

body.old_wall{
background: url('../images/patterns/old_wall.png') repeat !important;
}

body.pw_maze_black{
background: url('../images/patterns/pw_maze_black.png') repeat !important;
}

body.pw_maze_white{
background: url('../images/patterns/pw_maze_white.png') repeat !important;
}

body.px_by_Gre3g{
background: url('../images/patterns/px_by_Gre3g.png') repeat !important;
}

body.ravenna{
background: url('../images/patterns/ravenna.png') repeat !important;
}

body.ricepaper{
background: url('../images/patterns/ricepaper.png') repeat !important;
}

body.ricepaper2{
background: url('../images/patterns/ricepaper2.png') repeat !important;
}

body.struckaxiom{
background: url('../images/patterns/struckaxiom.png') repeat !important;
}

body.texturetastic_gray{
background: url('../images/patterns/texturetastic_gray.png') repeat !important;
}

body.vertical_cloth{
background: url('../images/patterns/vertical_cloth.png') repeat !important;
}


body.white_plaster{
background: url('../images/patterns/white_plaster.png') repeat !important;
}

body.whitediamond{
background: url('../images/patterns/whitediamond.png') repeat !important;
}

body.wood_pattern{
background: url('../images/patterns/wood_pattern.png') repeat !important;
}